# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# ML model artifacts
backend/app/ml/*.pkl
backend/app/ml/*.joblib

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/android/.gradle/
frontend/android/local.properties
frontend/windows/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
pgdata/

.venv/
